body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #DB0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.Container_Topicos_de_Navegacao {
    background-color: rgb(134, 11, 7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.menu_icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.title_main {
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    cursor: pointer;
    margin: 10px 0;
}

.search_icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.container_noticia_1,
.container_noticia_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    width: 45%;
    margin: 10px;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh; 
}

.descricao_imagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.foto_Dwayne_Johnson,
.foto_noticia_2 {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.Texto_1,
.Texto_2 {
    color: rgb(53, 50, 50);
    font-size: 24px;
    margin-bottom: 10px;
}

.Por_quem_foi_1,
.Por_quem_foi_2 {
    color: gray;
    opacity: 0.9;
    margin-bottom: 10px;
}

.Descricao_Texto_1,
.Descricao_Texto_2 {
    color: rgb(99, 89, 89);
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

.Descricao_Texto_1 {
    margin-right: 20px; 
}

.container_comentarios {
    position: fixed;
    bottom: 0;
    right: 10px; 
    width: 20%;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1000;
}

#comentarios_lista div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#formComentario {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#formComentario label {
    margin-bottom: 5px;
}

#formComentario input,
#formComentario textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#formComentario button {
    padding: 10px;
    background-color: #DB0000;
    color: #fff;
    cursor: pointer;
    border: none;
}

#formComentario button:hover {
    background-color: #A70000;
}
